/* Fuentes importadas para el proyecto */

@font-face {
    font-family: pokemon;
    src: url('../fonts/Pokemon\ Solid.ttf');
}
@font-face {
    font-family: pokemonGB;
    src: url('../fonts/Pokemon_GB.ttf');
}

/* Estilo general para todas las páginas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.black {
    background-color: #333;
    color: white;
}

/* CSS para el banner de todas las páginas */

/* Slider */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-bottom: 20px;

    .contenedorSlider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    
        .slider {
            display: flex;
            width: 500%; /* 100% por cada imagen */
            transition: transform 0.5s ease-in-out; /* Suaviza la transición */
    
            img {
                width: 20%; /* 100% / cantidad de imágenes */
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


/* Barra de navegación */

/* Versión para resoluciones grandes */

nav#desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border: goldenrod solid 3px;
    box-shadow: 10px 10px 10px white;
    border-radius: 100px;
    min-width: 40%;
    position: sticky;
    top: 5px;
    z-index: 3;

    ul {
        display: flex;
        align-items: center;
        list-style: none;

        li {
            padding: 10px 20px;
            color: white;
            font-size: 1.2em;
            cursor: pointer;

            &:hover {

                background-color: #444;
                border-radius: 100px;
                z-index: 3;
            }
            
            p {
                color: white;
            }
        }

        a {
            text-decoration: none;
        }
        .iconoDes {
            display: none;
            
        }
        
    }
}

/* Versión para resoluciones pequeñas */

nav#mobile {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 60px;
    height: 50px;
    border-radius: 20px;
    align-self: start;
    margin-left: 30px;
    position: sticky;
    top: 5px;
    z-index: 3;
    

    i {
        color: white;
        font-size: 1.8em;
    }
}

nav#mobileMenu {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 85%;
    height: 70vh;
    border-radius: 20px;
    align-self: start;
    margin-left: 30px;
    position: fixed;
    top: 80px;
    z-index: 3;
    border: 4px solid goldenrod;
    background-color: #333;
    

    section {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #222;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        h1 {
            color: white;
            margin-left: 55px;
            font-family: pokemonGB;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px 0;
        margin: 5%;
        width: 100%;
        height: 100%;
        list-style: none;
        
        

        a {
            text-decoration: none;
            color: white;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3em;


            &:focus {
                font-size: 1.4em;
            }
        }
        a:hover{
            background-color: #777575;
        }
        p{
            font-family: pokemonGB;
        }
    }
}
/* Clase para activar el menú */
nav#mobileMenu.active {
    display: flex;
}

/* Imagen Boton */
.pokeball {
    margin: 5px ;
    width:40px; 
    height:40px;
}

/* Estilo para la página del index */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 30px;

    > h1 {
        font-family: pokemon;
        font-size: 3 em;
    }
}

/*Cajas de información*/

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-height: 400px;
    border: 4px solid goldenrod;
    border-radius: 30px;
    box-shadow: 10px 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; 
    position: relative;
    margin: 10px 0;

    h1 {
        font-family: pokemon;
        text-align: center;
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 10px 10px 20px rgba(255, 223, 0, 0.8);
        border-color: gold;
    }

    section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding: 2%;

        img {
            width: 250px;
        }

        .info_texto {
            width: 80%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            line-height: 2em;

            p {
                font-family: pokemonGB;
            }
    
            ul {
                padding: 30px;
    
                li {
                    font-size: large;
                    font-family: pokemonGB;
                    padding: 5px;
    
                }
    
            }
    }    
}
    
    /* Imágenes laterales */
    
    .pokeballsup {
        width: 8%;
        position: absolute;
        left: -5%;
    }
    
    .pokeballinf {
        width: 8%;
        position: absolute;
        right: -5%;
    }
}

/*Pagina de sobres*/

/*CSS común para todos los apartados*/

.contenedorSobres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sobres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin-top: 80px;
        gap: 30px 0;
    
        .sobres_cartas {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px;
            box-shadow: 10px 10px 20px;
            transition: transform 0.3s ease; 
        
            &:hover {
                transform: scale(1.02);
            }
        
            img {
                flex: 0 1 auto;
                max-width: 200px;
            }
        }

        /*CSS individual para cada apartado*/

        .selectorSobres {
            background: linear-gradient(135deg, #fa4710, #43fd14);
            border: #ecd5ed solid 4px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; 
            
            &:hover {
                box-shadow: 10px 10px 20px #43fd14;
                border-color: #43fd14;
            }
        }

        .sobre_mewtwo {
            display: none;

            background: linear-gradient(135deg, #333, #722fc5);
            border: #ecd5ed solid 4px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; 
            
            &:hover {
                box-shadow: 10px 10px 20px rgba(162, 0, 255, 0.8);
                border-color: rgba(162, 0, 255, 0.8);
            }
        }

        .sobre_charizard {
            display: none;

            background: linear-gradient(135deg, #333, #ce2d00);
            border: #f0a43c solid 4px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; 
            
            &:hover {
                box-shadow: 10px 10px 20px rgba(255, 60, 1, 0.8);
                border-color: rgba(255, 60, 1, 0.8);
            }
        }

        .sobre_pikachu {
            display: none;

            background: linear-gradient(135deg, #333, #f9d717);
            border: #f4e952 solid 4px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; 
            
            &:hover {
                box-shadow: 10px 10px 20px rgba(249, 253, 0, 0.8);
                border-color: rgba(249, 253, 0, 0.8);
            }
        }

        /* Clase para activar el active de los sobres con JS */
        .active {
            display: flex;
        }
        
        /* Clase para el zoom de las cartas con JS */
        .zoomFondo {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 5;
        }
    
        .zoomCarta {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }    
}

/* select para ordenar los sobres */
.filtro {
    width: 100%;
    border: 4px solid gold;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 20px auto;
    background-color: #f9f9f9;
    box-shadow: 10px 10px 20px;

    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid goldenrod;
        border-radius: 5px;
        font-size: 0.9em;
        box-sizing: border-box;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.9em;
        color: #555;
    }
}


/* Página de detalles */

/* Tabla de detalles */

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid gold;
    text-align: left;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

        thead {
            text-align: center;
        }

        th, td {
            padding: 10px;
            border: 1px solid gold;
            display: table-cell;
            transition: all 0.2s ease-in-out;
        }

        th:hover, td:hover {
            transform: scale(1.1);
            background-color: white;
            z-index: 2;
            position: relative;
        }
}


/*Form de las páginas de formúlario*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; 
    border: 4px solid goldenrod;
    border-radius: 30px;
    box-shadow: 10px 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; 
    
    &:hover { 
        transform: scale(1.02); 
        box-shadow: 10px 10px 20px rgba(255, 223, 0, 0.8); 
        border-color: gold; 
    }

    fieldset {
        width: 100%;
        border: 2px solid gold;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: #f9f9f9;

        legend {
            font-size: 1.4em;
            font-weight: bold;
            color: black;
            padding: 0 10px;
            border-bottom: 2px solid gold;
        }
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.9em;
        color: #555;
    }

    label.suscrito {
        display: inline-block;
        margin-bottom: 20px;
    }

    input[type="text"], input[type="textarea"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    font-size: 0.9em;
    box-sizing: border-box;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }

    button {
        padding: 10px 15px;
        font-size: 1em;
        color: #fff;
        background-color: gold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 10px;
    }

    button:hover {
    background-color: goldenrod;
    }

    /* Heredamos el estilo del botón normal y solo cambiamos el color */
    button[type="reset"] {
        background-color: #dc3545;
    }

    button[type="reset"]:hover {
        background-color: #a71d2a;
    }

    .errorMensaje {
        display: none;
        color: red;
    }

    .active {
        display: block;
    }
}

/* Pagina comentarios */
.divComentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.titulo_comentario {
    background-color:rgb(238, 206, 25);
    color: black;
    text-align: center;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    min-width: 100%;
}

#contenido_comentarios {
    background-color: white;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Boton para ocultar los comentarios. */
#OculComent{
    background-color:rgb(66, 66, 66);
    font-weight: bold;
    color: rgb(196, 193, 193);
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    min-width: 100%;
}

/* Estilos para la estructura de comentarios */
.contenido_comentarios {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    display: none;
}

.contenido_comentarios.active {
    display: flex;
}

.comentario {
    display: flex;
    width: 100%;
}

.usuario {
    width: 30%;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    color: #333;
}

.texto {
    width: 70%;
    padding-left: 10px;
    color: #555;
}

/* Elimina la ultima separacion de los comentarios */
.comentario:last-child {
    border-bottom: none;
}


/* Footer de las páginas */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(135deg, #4c4c8c, #333);
    color: #e0e0e0;
    padding: 20px 0;
    font-size: 15px;
    margin-top: 40px;

    h1 {
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
    }

    ul {
        list-style-type: none;
        margin: 10px 0 0;
    }

    ul li {
        display: flex;
        margin: 0 15px;
    }

    ul li a {
        color: #e0e0e0;
        text-decoration: none;

        &:hover {
            color: #b3c7ff;
        }

        img {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            transition: transform 0.3s ease;
        }

        &:hover img {
            transform: scale(1.2);
        }
    }
  }
  

  .cursorSombra {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    border-radius: 50%;
    box-shadow: 10px 20px 25px 25px rgba(0, 0, 0, 0.5);
    pointer-events: none; /* Evita interferencias con eventos del ratón */
    z-index: 100;

    .cursorSombraWhite {
        box-shadow: 10px 20px 50px 20px rgb(255, 255, 255);
    }
}


/*Adaptabilidad para la resolución de móbil*/

@media screen and (width < 900px) {
    .cursorSombra{
        display: none;
    }
    header {
        display: none;
    }

    nav#desktop {
        display: none;
    }

    nav#mobile {
        display: flex;
    }

    .pokeballsup, .pokeballinf {
        display: none;
    }

    .info section {
        flex-direction: column;
    }

    .sobres_cartas, .selectorSobres {
        gap: 8px;
        padding: 10px;
    }

    .sobres > img, .selectorSobres > img {
        max-width: 40%;
    }

    .sobres_cartas, .selectorSobres {
        img {
            width: 100px;
        }

        &:hover {
            transform: scale(1);
        }
        
    }

    .sobres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 1200px;
        margin-top: 80px;
        gap: 30px 0;
    
        .sobres_cartas{

        
            img {
                width: 100px;
                flex: 0 1 auto;
                max-width: 200px;
            }
        }
    }

    /* Formularios */

    form {
        border: none;
        box-shadow: none;
        transition: none;

        &:hover {
            transform: none;
            box-shadow: none;
            border-color: none;
        }

        fieldset {
            border: none;
        }

        label {
            margin-top: 20px;
        }

        input[type="text"], input[type="textarea"], input[type="email"], select {
           margin-bottom: 30px;
        }

        input[type="tel"] {
            margin-bottom: 30px;
        }

        input[type="tel"] {
            margin-bottom: 30px;
        }

        button {
            margin-top: 20px;
        }

}
       
        .divComentarios {
            width: 90%;
        }
}